{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            Imagen de Tarea
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident veniam quidem consequatur dolor facere odit deserunt, voluptatibus voluptatum molestiae cumque? Quidem pariatur beatae illo magnam minus delectus deleniti praesentium consequuntur!
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/bulbo.jpg" class="img-thumbnail" >
    </div>
</div>    

{{> footer }}